<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">📚 BookApp</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes">Mina citat</a>
        </li>
      </ul>

      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
          <a class="nav-link" routerLink="/login">Logga in</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLoggedIn()">
          <a class="nav-link" routerLink="/register">Registrera</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" (click)="logout()">Logga ut</a>
        </li>
        <li class="nav-item ms-2">
          <button class="btn btn-outline-light" (click)="toggleTheme()">
            <i class="fa" [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
