<div class="container mt-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3 gap-2">
    <h2 class="text-primary m-0">📚 Boklista</h2>
    <a routerLink="/add-book" class="btn btn-primary" (click)="navigateToCreate()">
      <i class="fa fa-plus me-2"></i> Lägg till ny bok
    </a>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle text-nowrap">
      <thead class="table-dark">
        <tr>
          <th>Titel</th>
          <th>Författare</th>
          <th>Publiceringsdatum</th>
          <th class="text-center">Åtgärder</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.publishDate | date: 'yyyy-MM-dd' }}</td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm me-2" [routerLink]="['/book-form', book.id]">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="OnDelete(book.id!)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

